<div class="activity-detail-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ activity.title.sr }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ activity.description.sr }}</p>
      <div class="video-container">
        <video controls width="100%">
          <source [src]="activity.videoUrl.sr" type="video/mp4">
          {{ 'ACTIVITY.VIDEO_NOT_AVAILABLE' | translate }}
        </video>
      </div>
    </mat-card-content>
  </mat-card>
</div> 